Server-Account/standalone/data/wsdl/account_ear.ear/account_service.jar/RoleServicePublicService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://servicepublics.account.com.lixco.trong/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="RoleServicePublicService" targetNamespace="http://servicepublics.account.com.lixco.trong/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://servicepublics.account.com.lixco.trong/" elementFormDefault="unqualified" targetNamespace="http://servicepublics.account.com.lixco.trong/" version="1.0">

  <xs:element name="create" type="tns:create"/>

  <xs:element name="createResponse" type="tns:createResponse"/>

  <xs:element name="delete" type="tns:delete"/>

  <xs:element name="deleteResponse" type="tns:deleteResponse"/>

  <xs:element name="findAll" type="tns:findAll"/>

  <xs:element name="findAllResponse" type="tns:findAllResponse"/>

  <xs:element name="findByProgram" type="tns:findByProgram"/>

  <xs:element name="findByProgramResponse" type="tns:findByProgramResponse"/>

  <xs:element name="findId" type="tns:findId"/>

  <xs:element name="findIdResponse" type="tns:findIdResponse"/>

  <xs:element name="update" type="tns:update"/>

  <xs:element name="updateResponse" type="tns:updateResponse"/>

  <xs:complexType name="findByProgram">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:program"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="program">
    <xs:complexContent>
      <xs:extension base="tns:abstractEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="fullname" type="xs:string"/>
          <xs:element name="indexProgram" type="xs:short"/>
          <xs:element minOccurs="0" name="logo" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="serveraddress" type="xs:string"/>
          <xs:element minOccurs="0" name="serveraddressPublic" type="xs:string"/>
          <xs:element minOccurs="0" name="uRL" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createdUser" type="xs:string"/>
      <xs:element name="disable" type="xs:boolean"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="note" type="xs:string"/>
      <xs:element name="select" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findByProgramResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="role">
    <xs:complexContent>
      <xs:extension base="tns:abstractEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="program" type="tns:program"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="delete">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAll">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="findAllResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findId">
    <xs:sequence>
      <xs:element name="arg0" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="create">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="update">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:role"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="findByProgram">
    <wsdl:part element="tns:findByProgram" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByProgramResponse">
    <wsdl:part element="tns:findByProgramResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findIdResponse">
    <wsdl:part element="tns:findIdResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part element="tns:findAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findId">
    <wsdl:part element="tns:findId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="tns:findAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="create">
    <wsdl:part element="tns:create" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part element="tns:createResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RoleServicePublic">
    <wsdl:operation name="findByProgram">
      <wsdl:input message="tns:findByProgram" name="findByProgram">
    </wsdl:input>
      <wsdl:output message="tns:findByProgramResponse" name="findByProgramResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="tns:findAll" name="findAll">
    </wsdl:input>
      <wsdl:output message="tns:findAllResponse" name="findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findId">
      <wsdl:input message="tns:findId" name="findId">
    </wsdl:input>
      <wsdl:output message="tns:findIdResponse" name="findIdResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="tns:create" name="create">
    </wsdl:input>
      <wsdl:output message="tns:createResponse" name="createResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleServicePublicServiceSoapBinding" type="tns:RoleServicePublic">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findByProgram">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findByProgram">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findByProgramResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="delete">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findAll">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="findId">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="findIdResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="create">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="update">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleServicePublicService">
    <wsdl:port binding="tns:RoleServicePublicServiceSoapBinding" name="RoleServicePublicPort">
      <soap:address location="http://localhost:8180/account_service/RoleServicePublic"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>