Server-Account/standalone/data/wsdl/AcountAPI_EAR.ear/AcountServiceAPI_WEB.war/AccountLoginPublicService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://publics.bean.com.lixco.trong/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="AccountLoginPublicService" targetNamespace="http://publics.bean.com.lixco.trong/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://publics.bean.com.lixco.trong/" elementFormDefault="unqualified" targetNamespace="http://publics.bean.com.lixco.trong/" version="1.0">

  <xs:element name="getAccountLogin" type="tns:getAccountLogin"/>

  <xs:element name="getAccountLoginResponse" type="tns:getAccountLoginResponse"/>

  <xs:element name="setAccountLogin" type="tns:setAccountLogin"/>

  <xs:element name="setAccountLoginResponse" type="tns:setAccountLoginResponse"/>

  <xs:complexType name="getAccountLogin">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getAccountLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:account"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="account">
    <xs:complexContent>
      <xs:extension base="tns:abstractEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="member" type="tns:member"/>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element minOccurs="0" name="password" type="xs:string"/>
          <xs:element minOccurs="0" name="userName" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createdUser" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="member">
    <xs:complexContent>
      <xs:extension base="tns:abstractEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="account" type="tns:account"/>
          <xs:element minOccurs="0" name="address" type="xs:string"/>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="note" type="xs:string"/>
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="setAccountLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:account"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="setAccountLoginResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="setAccountLoginResponse">
    <wsdl:part element="tns:setAccountLoginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountLoginResponse">
    <wsdl:part element="tns:getAccountLoginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAccountLogin">
    <wsdl:part element="tns:getAccountLogin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="setAccountLogin">
    <wsdl:part element="tns:setAccountLogin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AccountLoginPublic">
    <wsdl:operation name="getAccountLogin">
      <wsdl:input message="tns:getAccountLogin" name="getAccountLogin">
    </wsdl:input>
      <wsdl:output message="tns:getAccountLoginResponse" name="getAccountLoginResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAccountLogin">
      <wsdl:input message="tns:setAccountLogin" name="setAccountLogin">
    </wsdl:input>
      <wsdl:output message="tns:setAccountLoginResponse" name="setAccountLoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AccountLoginPublicServiceSoapBinding" type="tns:AccountLoginPublic">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAccountLogin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getAccountLogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAccountLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setAccountLogin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="setAccountLogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="setAccountLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountLoginPublicService">
    <wsdl:port binding="tns:AccountLoginPublicServiceSoapBinding" name="AccountLoginPublicPort">
      <soap:address location="http://localhost:8280/AcountServiceAPI_WEB/AccountLoginPublic"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>