Server-Account/standalone/data/wsdl/AcountAPI_EAR.ear/AcountServiceAPI_WEB.war/ApplicationBeanService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://publics.bean.com.lixco.trong/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ApplicationBeanService" targetNamespace="http://publics.bean.com.lixco.trong/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://publics.bean.com.lixco.trong/" elementFormDefault="unqualified" targetNamespace="http://publics.bean.com.lixco.trong/" version="1.0">

  <xs:element name="accoutLogin" type="tns:accoutLogin"/>

  <xs:element name="accoutLoginResponse" type="tns:accoutLoginResponse"/>

  <xs:complexType name="accoutLogin">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="accoutLoginResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:account"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="account">
    <xs:complexContent>
      <xs:extension base="tns:abstractEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="member" type="tns:member"/>
          <xs:element name="online" type="xs:boolean"/>
          <xs:element minOccurs="0" name="password" type="xs:string"/>
          <xs:element minOccurs="0" name="userName" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="abstractEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="createdUser" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="member">
    <xs:complexContent>
      <xs:extension base="tns:abstractEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="account" type="tns:account"/>
          <xs:element minOccurs="0" name="address" type="xs:string"/>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="note" type="xs:string"/>
          <xs:element minOccurs="0" name="phoneNumber" type="xs:string"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="accoutLogin">
    <wsdl:part element="tns:accoutLogin" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="accoutLoginResponse">
    <wsdl:part element="tns:accoutLoginResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ApplicationBean">
    <wsdl:operation name="accoutLogin">
      <wsdl:input message="tns:accoutLogin" name="accoutLogin">
    </wsdl:input>
      <wsdl:output message="tns:accoutLoginResponse" name="accoutLoginResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplicationBeanServiceSoapBinding" type="tns:ApplicationBean">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="accoutLogin">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="accoutLogin">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="accoutLoginResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ApplicationBeanService">
    <wsdl:port binding="tns:ApplicationBeanServiceSoapBinding" name="ApplicationBeanPort">
      <soap:address location="http://localhost:8280/AcountServiceAPI_WEB/ApplicationBean"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>